.body {
    font-family: "Aileron";
}

.content__title {
    font-family: "Agrandir";
    
}

.separator::before {
    content: "";
    background: black;
    width: 50%;
    height: 1px;
    display: block;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 55px;

}