@font-face {
    font-family: 'Chillax' format("truetype");
    src: url(/assets/fonts/Chillax-Regular.otf);
}

@font-face {
    font-family: 'Aileron' format("truetype");
    src: url(/assets/fonts/aileron.regular.otf);
}
