.header {
    position: relative;
    
}

.header__nav {
    padding: 0px !important;
}

.header__sloggan {
    color: var(--darkgray);
    line-height: var(--lh-loose);
    max-width: 600px;
    position: relative;
    padding: 20px 0 50px 20px;
    
}


.header__sloggan::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 8px;
    width: 1px;
    height: 45%;
    background-color: var(--darkgray);
}

.header__image {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    object-fit: cover; 
    display: block;
    width: 100%;
}

.header__lang {
    position: absolute;
    top: 41px;
    right: 40px;
    z-index: 10;
    
}

.header__logo {
    position: absolute;
    margin-top:10px;
    left: 1px ;
    z-index: 2;
}


.header__logo-image {
    margin: 17px 23px;
    height: 55px;
    display: flex;
}

.header__menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute ;
    top: 35px;
    right: 25px;
    z-index: 110;
}


.header-article {
    margin-top: 0px;
    text-align: center;
    padding: 20px 15px;
    border-bottom: 1px solid var(--black);
}

.header-article__container {
    margin: 0 auto;
    max-width: 600px;
}

.header-article__title {
    margin: 100px 0 10px !important;
    line-height: 110%;
}

.header-article__subtitle {
    font-size: var(--fs-h3);
    font-family: var(--font-alt);
    font-weight: 650;
    color: var(--darkgray);
    margin: 0;
}

.header__menu-bar {
    width: 27px;
    height: 2px;
    background-color: var(--black);
    margin: 3px 0;
    transition: all 0.3s ease;
    position: relative;
   
}


.home-page .header__menu-bar {
    background-color: var(--beige);
    }



.menu--open .header__menu-bar:nth-child(1), 
.menu--open .header__menu-bar:nth-child(3) {
    display: none;
}

.menu--open .header__menu-bar:nth-child(2) {
    width: 10px;
    height: 10px;
    background-color: var(--black);
    box-shadow:
        -10px -10px var(--black),
        10px 10px var(--black),
        10px -10px var(--black),
        -10px 10px var(--black);
}


@media (max-width: 768px) {
    .header__nav {
        padding: 10px;
    }

    .header__menu-button {
        margin-left: 0;
    }
}


