@keyframes vinyle-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.vinyle {
    animation: vinyle-animation 10s linear infinite;
    animation-play-state: paused;
    cursor: pointer;
}

.vinyle-instruction {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--brown-gray);
    font-style: italic;
}