.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 850px; 
    margin: 0 auto;
}

/* Carrousel - conteneur des items */
.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 10px;
    padding: 0 20px;
    width: 100%;
    background-color: transparent;
}

/* Items du carrousel */
.carousel-item {
    flex: 0 0 calc(100% - 40px);
    scroll-snap-align: center;
    overflow: hidden;
}

.carousel-item img {
    aspect-ratio: 16 / 16;
    height: auto;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

/* Boutons de navigation */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    color: var(--orange);
    text-decoration: none;
    border: 2px solid var(--orange);
    border-radius: 40px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
    /* Place les boutons devant les images */
}

.carousel-button.prev-button {
    background-color: var(--light-orange);
    color: var(--beige);
    left: 10px;
}

.carousel-button.next-button {
    background-color: var(--light-orange);
    color: var(--beige);
    right: 10px;
}

.carousel-button:hover {
    background-color: var(--light-orange);
}

