.header-article {
    margin-top: 0px;
    text-align: center;
    padding: 20px 15px;
    border-bottom: 1px solid var(--black);
}

.header-article__container {
    margin: 0 auto;
    max-width: 600px;
}

.header-article__title {
    margin: 70px 0 10px;
    line-height: 110%;
}

.header-article__subtitle {
    font-size: var(--fs-h3);
    font-family: var(--font-alt);
    font-weight: 650;
    color: var(--darkgray);
    margin: 0;
}


.hero {
    background-color: var(--beige);
    padding: 20px;
    border-top: 1px solid var(--black);
}

.hero__text {
    font-size: var(--fs-h3);
    font-family: var(--font-alt);
    color: var(--brown-gray);
    line-height: var(--lh-loose);
    max-width: 600px;
    position: relative;
    padding: 20px 0 0 20px;
}

.hero__text::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--gray);
}

.hero__text::after {
    display: block;
    font-size: var(--fs-body);
    font-weight: 300;
    margin-top: 10px;
    color: var(--black);
}