/* next article */

/* Conteneur principal */
.next-article {
    background-color: var(--black);
    text-align: center;
    padding: 15px;
    color: var(--beige);
}

/* Titre "À venir" */
.next-article__title {
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
    color: var(--white);
}

/* Sous-titre "Le film" */
.next-article__subtitle {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px;
    padding-bottom: 3%;
    color: var(--white);
}

/* Bouton principal */
.next-article__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: var(--white);
    color: var(--orange);
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid var(--orange);
    font-size: var(--fs-h5);
    font-family: var(--font-paragraph);
    font-weight: lighter;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

/* Icône (image) dans le bouton */
.next-article__icon {
    margin: 7px 7px 7px 7px;
    width: 20px;
    height: auto;
}

/* Texte dans le bouton */
.next-article__text {
    color: var(--orange);
    font-weight: lighter;
}

/* Effet au survol */
.next-article__button:hover {
    background-color: var(--light-orange);
    color: var(--beige);
    transform: scale(1.05);
}

/* Effet au survol de l'icône */
.next-article__button:hover .next-article__icon {
    filter: brightness(0.8);
}