/* Trailer de Minority Report */
/* Titre principal des sections */
.trailer__title {
    font-family: var(--font-main);
    font-size: var(--fs-h2);
    font-weight: bold;
    color: var(--darkgray);
    margin-bottom: 45px;
    text-align: left;
    padding-bottom: 3%;
}
 .trailer__legend {
    padding: 1% 5%; 
 }
/* Conteneur des articles */
.gallery__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    
}

.gallery__title {
    padding: 5% 2%;
}

/* Titre des films */
.gallery__movie-title {
    font-family: var(--font-title);
    font-size: var(--fs-h3);
    font-weight: bold;
    color: var(--black);
    margin-top: 20px;
    padding-bottom: 3%;
    padding-left: 12%;
    
}

/* Description des films */
.gallery__description {
    font-family: var(--font-paragraph);
    font-size: var(--fs-body);
    font-weight: 300;
    color: var(--brown-gray);
    line-height: var(--lh-loose);
    padding: 0 12%; 
    width: calc(100% - 11%); /* Ajuste la largeur pour que padding ne dépasse pas */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    margin-left: auto; /* Centre horizontalement */
    margin-right: auto;
    box-sizing: border-box;
}

/* Conteneur des vidéos */
.gallery__video-container {
    margin-bottom: 15px;
    /* Espacement sous la vidéo */
}




.trailer__video {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Vidéos de la galerie */
.gallery__video-container video {
    width: 65%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Centrage global pour les vidéos */
.trailer,
.gallery__item {
    text-align: left;
    /* Centre les contenus dans leurs conteneurs */
}