.trailer__title {
    font-family: var(--font-main);
    font-size: var(--fs-h2);
    font-weight: bold;
    color: var(--darkgray);
    margin-bottom: 45px;
    text-align: left;
    padding-bottom: 3%;
}

 .trailer__legend {
    padding: 1% 5%; 
 }


.gallery__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 100%; 
}

.gallery__title {
    padding: 5% 2%;
}


.gallery__movie-title {
    font-family: var(--font-title);
    font-size: var(--fs-h3);
    font-weight: bold;
    color: var(--black);
    margin-top: 20px;
    padding-bottom: 3%;
    padding-left: 12%;
    
}


.gallery__description {
    font-family: var(--font-paragraph);
    font-size: var(--fs-body);
    font-weight: 300;
    color: var(--brown-gray);
    line-height: var(--lh-loose);
    padding: 0 12%; 
    width: calc(100% - 11%); 
    margin-left: auto; 
    margin-right: auto;
    padding-bottom: 8%;
    box-sizing: border-box;
}


.gallery__video-container {
    margin-bottom: 15px;
}


.trailer__video {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.gallery__video-container video {
    width: 65%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.trailer,
.gallery__item {
    text-align: left;
}